# Node
node_modules/
dist/
.vscode/

# Frontend build
build/
*.log

# WordPress
wordpress/wp-config.php
wordpress/wp-content/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/backups/
wordpress/wp-content/upgrade/

# Sistema
.DS_Store
